// Global Styles

// Color Palette Family
$deactive: rgba(114, 114, 114, 1); // #727272
$gray: rgba(70, 70, 70, 1); // #464646

$blue: rgba(1, 168, 231, 1); // #01A8E7
$darkerBlue: rgba(1, 122, 167, 1); // #017AA7

$orange: rgba(239, 117, 42, 1); // #EF752A
$darkerOrange: rgba(194, 94, 33, 1); // #C25E21

$black: rgba(26, 26, 26, 1); // #1A1A1A
$white: rgba(254, 254, 254), 1; // #FEFEFE

// Dimension Vars
$sectionHeight: calc(100vh - 70px);

// Font Families
$firstFont: 'Inconsolata', monospace;
$secondFont: 'Montserrat', sans-serif;
$netflixFont: 'BebasNeue', 'Montserrat';

// Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */

  font-family: $firstFont;
  font-weight: 300;
}

// Default Body Styles
html,
body {
  background-color: $black;
  color: white;
  overflow-x: hidden;
}

// img,
// svg {
//   max-width: 100%;
//   height: auto;
// }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Utility Classes
.hidden {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:target {
  scroll-margin-top: 80px;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
// Responsive Method Classes
@mixin mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}

// Font Face
@font-face {
  font-family: 'BebasNeue';
  src: url('@/assets/fonts/BebasNeue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
