@use "../../global.scss";

.about {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 0.5;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: center;

      h2 {
        margin: 30px 0px;
        font-size: 50px;
        font-weight: 500;
        color: $blue;

        width: 70%;

        @include mobile {
          margin: 10px 0px;
          font-size: 25px;
          font-weight: 400;
          height: 100%;
          overflow: hidden;
          text-align: center;
        }
      }
    }

    .description {
      height: 60%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @include mobile {
        height: 100%;
      }

      p {
        width: 70%;
        font-weight: 500;
        font-family: $textFont;
        color: $deactive;

        @include mobile {
          font-size: 0.7em;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    display: flex;
    flex-direction: column;

    @include mobile {
      flex: 0.4;
      justify-content: center;
      align-items: center;
    }

    .title {
      overflow: hidden;

      h2 {
        margin: 30px 0px;
        font-size: 50px;
        font-weight: 500;
        overflow: hidden;

        width: 70%;

        color: $orange;

        @include mobile {
          font-size: 25px;
          width: 100%;
        }
      }
    }

    .skills {
      height: 65%;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include mobile {
        align-items: center;
        height: 200px;
        flex-direction: row;
        width: 85%;
      }

      h3 {
        width: 10%;
        transform-origin: center;
        transform: rotate(-90deg);

        font-size: 25px;
        padding: 0;
        color: $orange;

        position: absolute;

        @include mobile {
          transform: rotate(0deg);
          font-size: 15px;
          width: 100%;

          position: static;
          text-align: center;
        }

        &.hard {
          bottom: -28%;

          @include mobile {
            overflow: hidden;
          }
        }

        &.soft {
          bottom: -68%;

          @include mobile {
            overflow: hidden;
          }

          &.pt {
            right: 39%;
            width: 200px;

            @include mobile {
            }
          }
        }
      }

      .hard-skills {
        color: $orange;

        @include mobile {
          display: flex;
          justify-content: center;
          width: 60%;

          flex: 0.75;
        }

        ul {
          font-family: $textFont;
          padding-left: 0px;
          display: flex;
          flex-direction: column;

          @include mobile {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
          }

          li {
            font-family: $textFont;
            display: flex;
            align-items: center;
            width: 90%;

            margin: 8px 0px 8px;

            &.languages {
              .title {
                width: 30%;

                @include mobile {
                  width: 35%;
                }
              }
            }

            &.frameworksNLibraries {
              .title {
                width: 30%;

                @include mobile {
                  width: 35%;
                }
              }
            }

            &.tools {
              .title {
                width: 30%;

                @include mobile {
                  width: 35%;
                }
              }
            }

            div {
              &.title {
                @include mobile {
                  text-align: center;
                  font-size: 0.8em;
                }
              }

              &.elem {
                span {
                  display: inline-block;
                  > * {
                    font-size: 40px;
                    margin: 0px 12px 0px 12px;
                    color: $deactive;

                    @include mobile {
                      font-size: 25px;
                      margin: 0px 4px 0px 4px;
                    }
                  }

                  &.ts {
                    > * {
                      border: 0px solid $deactive;
                      border-radius: 5px;
                      pointer-events: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .soft-skills {
        color: $blue;

        display: flex;
        flex-wrap: wrap;

        overflow: hidden;

        align-items: center;
        justify-content: center;

        width: 80%;

        @include mobile {
          overflow: hidden;
          flex: 0.3;
        }

        ul {
          padding: 0px;

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          width: 60%;

          @include mobile {
            width: 100%;
            padding-left: 0px;
            right: 0%;
            flex-direction: column;
            flex-wrap: nowrap;
          }

          li {
            font-family: $textFont;
            color: $deactive;
            font-size: 18px;
            font-weight: 600;

            border: 2px solid $orange;
            border-radius: 20px;

            margin: 10px 5px;
            padding: 2%;

            @include mobile {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
