@use '@/styles/global.scss' as *;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10%;
  color: $deactive;
  margin-bottom: 20px;
  margin-top: -20px;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 50px;
  align-items: center;

  @include mobile {
    flex-direction: column;
    text-align: center;
  }
}

/* Left - Description */
.descriptionContainer {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // background: rgba($darkerBlue, 0.8);

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: $orange;
  }

  p {
    font-size: 18px;
    line-height: 1.3;
  }

  ul {
    margin: 10px 0;
    padding-left: 20px;

    li {
      font-size: 20px;
      margin: 5px 0;
      color: $deactive;
    }
  }
}

/* Right - Skills */
.skillsContainer {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  // background: rgba($darkerOrange, 0.9);
  text-align: center;

  .skillsTitle {
    font-size: 2rem;
    font-weight: bold;
    color: $orange;
    margin-bottom: 20px;
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }

    span {
      margin-top: 5px;
      font-size: 14px;
      color: $deactive;
    }
  }
}
