@import "../../global.scss";

.about {
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        // align-items: center;

        // width: 80%;

        @include mobile {
            flex: 0.5;
        }

        .title {
            display: flex;
            justify-content: center;

            h2 {
                margin: 30px 0px;
                font-size: 50px;
                font-weight: 500;
                color: $blue;

                width: 70%;

                @include mobile {
                    margin: 10px 0px;
                    font-size: 25px;
                    font-weight: 400;
                    overflow: hidden;
                }
            }
        }

        .description {
            height: 70%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @include mobile {
                height: 100%;
            }

            p {
                width: 70%;
                // font-size: 1.1em;
                font-weight: 500;
                font-family: $textFont;
                color: $deactive;

                @include mobile {
                    font-size: 0.7em;
                }
            }
        }
    }

    .right {
        flex: 0.5;
        display: flex;
        flex-direction: column;

        @include mobile {
            justify-content: center;
            align-items: center;
        }

        .title {
            // display: flex;
            // justify-content: center;

            h2 {
                margin: 30px 0px;
                font-size: 50px;
                font-weight: 500;
                overflow: hidden;

                width: 70%;

                color: $orange;
                // position: relative;
                // right: 2%;

                @include mobile {
                    margin: 0px;
                    position: static;
                    font-size: 25px;
                }
            }
        }

        .skills {
            // border-left: 2px solid $orange;

            height: 65%;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                border: none;
                height: 80%;
                align-items: center;
            }

            h3 {
                width: 10%;
                transform-origin: center;
                transform: rotate(-90deg);

                font-size: 25px;
                padding: 0;
                color: $orange;

                position: absolute;

                @include mobile {
                    transform: rotate(0deg);
                    font-size: 15px;
                    width: 100%;

                    position: static;
                    text-align: center;
                }

                &.hard {
                    bottom: -28%;

                    @include mobile {
                        overflow: hidden;
                    }
                }

                &.soft {
                    bottom: -68%;

                    @include mobile {
                        overflow: hidden;
                    }

                    &.pt {
                        right: 39%;
                        width: 200px;

                        @include mobile {
                        }
                    }
                }
            }

            .hard-skills {
                color: $orange;

                @include mobile {
                    display: flex;
                    justify-content: center;
                }

                ul {
                    font-family: $textFont;
                    padding-left: 0px;
                    display: flex;
                    flex-direction: column;

                    // align-items: center;
                    // position: relative;
                    // right: 5.5%;
                    // margin: 10px 0px 20px 0px;

                    @include mobile {
                        position: static;
                        margin: 0px;
                        padding: 0px;
                        flex-direction: row;
                        right: 0%;
                        flex-wrap: wrap;
                        width: 90%;
                        justify-content: center;
                        overflow: hidden;
                    }

                    li {
                        font-family: $textFont;
                        display: flex;
                        align-items: center;
                        width: 90%;

                        margin: 8px 0px 8px;

                        // justify-content: space-between;
                        // margin-bottom: 5px;

                        &.languages {
                            .title {
                                width: 30%;
                            }
                        }

                        &.frameworksNLibraries {
                            .title {
                                width: 30%;
                            }
                        }

                        &.tools {
                            .title {
                                width: 30%;
                            }
                        }

                        @include mobile {
                            width: 50%;
                            margin-top: 5px;
                        }

                        div {
                            // display: flex;
                            // justify-content: space-between;

                            &.title {
                                @include mobile {
                                    text-align: center;
                                    font-size: 0.8em;
                                }
                            }

                            &.elem {
                                // margin-bottom: 10px;
                                .js {
                                    > * {
                                        border: 0px solid $deactive;
                                        border-radius: 5px;
                                    }
                                }
                            }

                            span {
                                > * {
                                    font-size: 40px;
                                    margin: 0px 12px 0px 12px;
                                    color: $deactive;

                                    @include mobile {
                                        font-size: 25px;
                                        margin: 0px 4px 0px 4px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .soft-skills {
                color: $blue;

                display: flex;
                flex-wrap: wrap;

                overflow: hidden;

                align-items: center;
                justify-content: center;

                width: 80%;

                @include mobile {
                    overflow: hidden;
                }

                ul {
                    // position: relative;
                    // right: 4%;

                    padding: 0px;

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    width: 60%;

                    @include mobile {
                        width: 100%;
                        padding-left: 0px;
                        right: 0%;
                        // flex-direction: row-reverse;
                    }

                    li {
                        font-family: $textFont;
                        color: $deactive;
                        font-size: 18px;
                        font-weight: 600;

                        border: 2px solid $orange;
                        border-radius: 20px;

                        margin: 10px 5px;
                        padding: 2%;

                        @include mobile {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
