@import "../../global.scss";

.about {
    display: flex;

    .left {
        flex: 0.48;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin: 25px 30px;
            font-size: 40px;
            color: $orange;
        }

        .description {
            height: 70%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            p {
                width: 80%;
                font-size: 1.2em;
                font-family: $textFont;
                font-weight: 500;
                color: $deactive;
            }
        }
    }

    .right {
        flex: 0.5;
        display: flex;
        flex-direction: column;

        .title{
            display: flex;
            justify-content: center;

            h2 {
                margin: 25px 20px 10px;
                font-size: 40px;
                overflow: hidden;
    
                color: $orange;
                position: relative;
                right: 2%;
            }
        }
        
        .skills {
            border-left: 2px solid $orange;
            
            height: 75%;
            overflow: hidden;
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            
            h3 {
                width: 10%;
                transform-origin: center;
                transform: rotate(-90deg);

                font-size: 25px;
                padding: 0;
                color: $orange;
                
                position: absolute;

                &.hard{
                    bottom: -28%;
                }

                &.soft{
                    bottom: -68%;
                }
            }
            
            .hard-skills {
                color: $orange;
                
                ul {
                    font-family: $textFont;
                    position: relative;
                    right: 5.5%;
                    
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    margin: 10px 0px 20px 0px;

                    li {
                        font-family: $textFont;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        font-size: 13px;
                        margin-bottom: 5px;
                        width: 40%;
                        
                        &.li-elem{
                            margin-bottom: 10px;
                            .js{
                                > *{
                                border: 0px solid $deactive;
                                border-radius: 5px;
                                }
                            }
                        }

                        span {
                            > * {
                                font-size: 35px;
                                margin: 0px 8px 0px 8px;
                                color: $deactive;
                            }
                        }
                    }
                }
            }

            .soft-skills{
                color: $blue;
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                ul{
                    position: relative;
                    right: 4%;

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    width: 50%;

                    li{
                        font-family: $textFont;
                        color: $deactive;
                        font-size: 18px;
                        font-weight: 600;
                        
                        border: 2px solid $orange;
                        border-radius: 20px;
                        
                        margin: 10px 5px;
                        padding: 2%;
                    }
                }
            }
        }
    }
}
