@import "../../global.scss";

.home {
    .container {
        height: 100%;
        display: flex;
        position: relative;

        .left {
            flex: 0.5;
            position: relative;
            background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)),
                url("../../assets/pictures/J1_bw.png");

            background-size: cover;
            background-position: center;
        }

        .greeting {
            flex: 0.5;
            display: flex;
            align-items: center;

            .wrapper {
                position: relative;
                overflow: hidden;

                &.hide {
                    transition: all 0.5ms linear;
                    top: -120px;
                    opacity: 0;
                }

                &.show {
                    transition: all 1s ease;
                    top: -35px;
                    opacity: 1;
                }

                h2 {
                    font-size: 40px;
                }

                h1 {
                    span {
                        font-size: 60px;
                        font-weight: 600;
                        color: $blue;
                    }
                }

                h3 {
                    font-size: 40px;
                    margin-bottom: 10px;

                    span {
                        color: $orange;
                    }
                }

                h4 {
                    color: rgb(163, 161, 161);
                }
            }
        }

        .scroll-arrow {
            color: $deactive;
            font-size: 3em;

            position: absolute;
            bottom: 0px;
            right: 30%;
            opacity: 0;
            cursor: pointer;

            transition: all 2s ease;
            animation: arrowBlink 2s infinite;

            @keyframes arrowBlink {
                50% {
                    opacity: 100%;
                }
            }
        }
    }
}
