@import "../../global.scss";

.contact {
    display: flex;
    justify-content: center;

    .left{
        flex: .5;

        display: flex;
        align-items: center;
        justify-content: center;
        
        .contact-text{
            position: relative;
            top: -35px;
            width: 70%;
            
            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                color: $blue;
                font-size: 3em;
                margin-bottom: 20px;
            }

            p{
                width: 90%;
                font-size: 1.2em;
                font-family: $textFont;
                font-weight: 500;
                margin: 10px 0px 20px 40px;
                color: $deactive;
            }

            .social-icons {
                display: flex;

                > * {
                    padding: 5px;
                    margin: 0px 10px 10px 0px;
                    color: $deactive;

                    &:hover {
                        transform: scale(1.2);
                    }

                    > * {
                        font-size: 180%;
                        animation: apear 0.2s linear;

                        @keyframes apear {
                            0% {
                                transform: scale(0);
                            }
                            100% {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-form {
        flex: .5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 30px;
            font-weight: 500;
            margin: 30px 0px;
            overflow: hidden;
        }

        form {
            height: 90%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            > *{
                color: $deactive;
                background-color: $deactive;
                padding: 2px 10px;
                background: none;
                margin: 10px 0px;
                font-size: 1.1em;

                &::placeholder{
                    color: $blue;
                }

                &:focus{
                    outline: none;
                }
            }
    
            input {
                width: 80%;
                height: 30px;
                margin-bottom: 10px;
                border: 2px solid $blue;
                border-radius: 20px;
            }
    
            textarea {
                width: 80%;
                height: 40%;
                resize: none;
                padding: auto;
                overflow: hidden;
                border: 2px solid $blue;
                border-radius: 20px;
            }
    
            button {
                width: 30%;
                height: 8%;

                font-weight: 600;
                background-color: $orange;
                color: #fff;

                border-radius: 20px;
                border: 2px solid $orange;
                cursor: pointer;
    
                &:hover {
                    background-color: $darkerOrange;
                    border: 2px solid $darkerOrange;
                }

                &:active {
                    border-color: $orange;
                    background-color: $back;
                    color: $orange;

                    border: 2px solid $orange;
                }
            }
        }
    }
}
