@use "@/styles/global.scss" as *;

.contact {
    display: flex;
    justify-content: center;

    @include mobile{
        flex-direction: column;
    }

    .container{
        flex: .5;

        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            flex:.5;
            overflow: hidden;
        }
        
        .contact-text{
            position: relative;
            top: -35px;
            width: 70%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            @include mobile{
                position: static;
            }

            h1{
                color: $blue;
                font-size: 3em;
                margin-bottom: 20px;

                @include mobile{
                    // font-size: 30px;
                }
            }

            p{
                width: 90%;
                font-size: 1.2em;
                font-family: $textFont;
                font-weight: 500;
                margin: 10px 0px 20px 0px;
                color: $deactive;

                @include mobile{
                    font-size: 1em;
                    margin: 10px 0px 20px 0px;
                    width: 100%;
                    text-align: center;
                }
            }

            .email{
                font-size: 1em;
                text-align: center;
                text-decoration: underline;
                color: $darkerBlue;

                @include mobile {
                    font-size: 70%;
                    width: 100%;
                }
            }

            .social-icons {
                display: flex;

                > * {
                    padding: 5px;
                    margin: 5px;
                    color: $deactive;

                    &:hover {
                        transform: scale(1.2);
                    }

                    > * {
                        font-size: 180%;
                        animation: apear 0.2s linear;

                        @keyframes apear {
                            0% {
                                transform: scale(0);
                            }
                            100% {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }

    // .contact-form {
    //     flex: .5;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;

    //     @include mobile{
    //         flex:.6;
    //     }

    //     h2 {
    //         font-size: 30px;
    //         font-weight: 500;
    //         margin: 30px 0px;
    //         overflow: hidden;
    //     }

    //     form {
    //         height: 90%;
    //         width: 60%;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: center;
            
    //         > *{
    //             color: $deactive;
    //             background-color: $deactive;
    //             padding: 2px 10px;
    //             background: none;
    //             margin: 10px 0px;
    //             font-size: 1.1em;

    //             &::placeholder{
    //                 color: $blue;
    //             }

    //             &:focus{
    //                 outline: none;
    //             }
    //         }
    
    //         input {
    //             width: 80%;
    //             height: 30px;
    //             margin-bottom: 10px;
    //             border: 2px solid $blue;
    //             border-radius: 20px;
    //         }
    
    //         textarea {
    //             width: 80%;
    //             height: 40%;
    //             resize: none;
    //             padding: auto;
    //             overflow: hidden;
    //             border: 2px solid $blue;
    //             border-radius: 20px;
    //         }
    
    //         button {
    //             width: 100px;
    //             height: 36px;

    //             font-weight: 600;
    //             background-color: $blue;
    //             color: $black;

    //             border-radius: 20px;
    //             border: 2px solid $blue;
    //             cursor: pointer;
    
    //             &:hover {
    //                 background-color: $darkerBlue;
    //                 border: 2px solid $darkerBlue;
    //             }

    //             &:active {
    //                 border-color: $blue;
    //                 background-color: $black;
    //                 color: $blue;

    //                 border: 2px solid $blue;
    //             }
    //         }
    //     }
    // }
}
