@use "../../global.scss" as *;

.navbar{
    height: 70px;
    width: 100%;
    background-color: $black;
    color:#fff;
    position: fixed;
    top: 0;
    z-index: 3;
    font-size: 1.2em;

    .wrapper{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 25px;
       
        .left{
            flex: .3;
            height: 60%;
            overflow: hidden;

            .icon{
                height: 10px;
                width: 10px;
            }

            img{
                height: 100%;
                cursor: pointer;
            }
        }

        .middle{
            flex:.5;

            @include mobile{
                visibility: hidden;
            }

            ul{
                display: flex;
                justify-content: space-between;
                padding-left: 0;

                li{
                    a{
                        color: inherit;
                        text-decoration: none;

                        &:hover{
                            color: $orange;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .right{
            flex: .1;

            @include mobile{
                flex:.2;
            }

            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                padding-left: 0;
                
                li{
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;
    
                    opacity: .5;

                    @include mobile{
                        font-size: 20px;
                    }

                    &.en{
                        color: $orange;
                    }
        
                    &.pt{
                        color: $blue;
                    }
                    
                    &.active{
                        opacity: 1;
                    }

                }
            }

        }

        .hamburguer{
            display: none;

            @include mobile{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                margin-left: 20px;
                
                span {
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 3px;
                    transform-origin: right;
                    transition: all 2s ease;
                }

            }
        }
    }

    &.open-menu{
        background-color: $black;

        .hamburguer{
            overflow: hidden;

            span{
                &:first-child{
                    background-color: #fff;
                    transform: rotate(-45deg);
                }
                
                &:nth-child(2){
                    opacity:0;
                }
                
                &:last-child{
                    background-color: #fff;
                    transform: rotate(45deg);
                }
               
            }
        }
    }
}