@use '@/styles/global.scss' as *;

.contact {
  display: flex;
  justify-content: center;
  // min-height: $sectionHeight;

  @include mobile {
    flex-direction: column;
  }

  .container {
    flex: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex: 0.5;
      overflow: hidden;
    }

    .contactText {
      position: relative;
      top: -35px;
      width: 70%;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include mobile {
        position: static;
      }

      h1 {
        color: $blue;
        font-size: 3em;
        margin-bottom: 20px;

        @include mobile {
          // font-size: 30px;
        }
      }

      p {
        width: 90%;
        font-size: 1.2em;
        font-family: $secondFont;
        font-weight: 500;
        margin: 10px 0px 20px 0px;
        color: $deactive;

        @include mobile {
          font-size: 1em;
          margin: 10px 0px 20px 0px;
          width: 100%;
          text-align: center;
        }
      }

      .email {
        font-size: 1em;
        text-align: center;
        text-decoration: underline;
        color: $darkerBlue;

        @include mobile {
          font-size: 70%;
          width: 100%;
        }
      }

      .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
          padding: 5px;
          margin: 5px;
          color: $deactive;

          img {
            height: 30px;
            // height: auto;
          }

          &:hover {
            transform: scale(1.2);
          }

          > * {
            font-size: 180%;
            animation: apear 0.2s linear;

            @keyframes apear {
              0% {
                transform: scale(0);
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}
