@use '@/styles/global.scss' as *;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 100vh;
  color: $deactive;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  // padding-left: 160px;
  // padding-right: 160px;
  padding: 40px 20px;
  gap: 20px;
  align-items: center;

  @include mobile {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }
}

/* Left - Description */
.descriptionContainer {
  flex: 1;

  .descriptionText {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // gap: 20px;
    // height: 100%;
    gap: 16px;
    max-width: 600px;
    margin: auto;

    p {
      // font-size: 18px;
      // line-height: 1.3;
      font-weight: 400;
      font-family: $secondFont;

      font-size: 18px;
      line-height: 1.4;

      strong {
        // color: $darkerOrange;
        font-weight: 800;
        font-size: 22px;
      }

      @include mobile {
        font-size: 14px;
        line-height: 1.2;

        strong {
          // color: $darkerOrange;
          font-weight: 800;
          font-size: 16px;
        }
      }
    }

    .highlightedText {
      background: rgba($darkerBlue, 0.1);
      border-left: 4px solid $darkerBlue;
      padding: 15px 20px;
      font-size: 18px;
      color: $darkerBlue;
      margin: 15px 0;
      font-family: $secondFont;
      letter-spacing: 0.8px;
      line-height: 1.5;

      strong {
        color: $darkerBlue;
        font-weight: 800;
        font-size: 22px;
      }

      @include mobile {
        font-size: 14px;

        strong {
          color: $darkerBlue;
          font-weight: 800;
          font-size: 16px;
        }
      }
    }
  }
}

/* Right - Skills */
.skillsContainer {
  flex: 1;
  padding: 20px;
  // border-radius: 10px;
  text-align: center;
  // width: 80%;

  .technologiesAndTools {
    display: flex;
    align-items: baseline;
    gap: 30px;
    .technologiesContainer {
      .technologiesTitle {
        font-size: 2rem;
        font-weight: bold;
        color: $orange;
        margin-bottom: 20px;
      }

      .technologiesGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 10px;

        @include mobile {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 30px;
          column-gap: 60px;
        }
      }

      .technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        img {
          width: 50px;
          height: 50px;
          object-fit: contain;

          &:hover {
            transform: scale(1.2);
          }
        }

        span {
          margin-top: 5px;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 18px;
          font-weight: bold;
          color: $deactive;
        }
      }
    }

    .toolsContainer {
      .toolsTitle {
        font-size: 2rem;
        font-weight: bold;
        color: $orange;
        margin-bottom: 20px;
      }

      .toolsGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 10px;

        @include mobile {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 30px;
          column-gap: 60px;
        }
      }

      .tool {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;

        img {
          width: 50px;
          height: 50px;
          padding-left: 5px;
          padding-right: 5px;
          object-fit: contain;

          &:hover {
            transform: scale(1.2);
          }
        }

        span {
          margin-top: 5px;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 18px;
          font-weight: bold;
          color: $deactive;
        }
      }
    }
  }

  .credentialsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .certificationsContainer {
      width: 80%;

      .certificationsTitle {
        font-size: 2rem;
        font-weight: bold;
        color: $orange;
        margin-bottom: 20px;

        margin-top: 20px;
      }

      .certificationsGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 15px;

        @include mobile {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 30px;
          column-gap: 60px;
        }
      }

      .certification {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          object-fit: contain;

          &:hover {
            transform: scale(1.2);
          }
        }

        span {
          max-width: 140px;
          margin-top: 5px;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 18px;
          font-weight: bold;
          color: $deactive;
        }
      }
    }
  }
}
