@import "../../global.scss";

.experience {
    display: flex;
    align-items: center;

    img{
        width: 10px;
        height: 10px;
    }

    h2 {
        flex: 0.48;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 40px;
        overflow: hidden;

        color: $orange;

        position: relative;
        top:-21px;
    }

    .experience-list {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px;

        .experience-item {
            width: 70%;
            display: flex;

            position: relative;

            .circle {
                padding: 0px;
                position: absolute;
                top: 2%;
                font-size: 1.8em;
                color: $blue;
            }

            .item-info {
                margin-left: 13.5px;
                
                > * {
                    padding-left: 30px;
                }
                
                h3 {
                    font-size: 1.8em;
                    font-weight: 600;
                    color: $blue;
                }
                
                span {
                    color: $deactive;
                    font-size: 1.2em;
                    padding-top: 8px;
                    
                    border-left: 2px solid $blue;
                }
                
                p {
                    padding-top: 10px;
                    padding-bottom: 6%;

                    border-left: 2px solid $blue;
                }
            }
        }

        // :last-child {
        //     :last-child {
        //         :last-child {
        //             padding-bottom: 4%;
        //         }
        //     }
        // }
    }
}
