@use "./global.scss" as *;

.app{
    height: 100vh;
    color: #fff;
    
    .sections {
        background-color: $black;
        width: 100%;
        height: $sectionHeight;
        position: relative;
        top:70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        
        > *{
            width: 100vw;
            height: $sectionHeight;
            scroll-snap-align: start;
        }
    }
}