//Color Palette Family
// $pink: #c2348b;

$gray: rgba(70,70,70,1);
$blue: rgba(1,168,231,1);
$orange: rgba(239, 117, 42, 1);

$deactive: rgb(114, 114, 114);
$back: rgba(26,26,26,1);

//Dimension vars
$sectionHeight: calc(100vh - 70px);

// Font families
$menuFont: 'Inconsolata', monospace;
$textFont: 'Montserrat', sans-serif;
